@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  font-family: Lato;
  height: auto;
}

header.title {
  width: 100%;
  line-height: 3em;
  background-color: rgb(86, 86, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}

.management {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.5em;
}

.management .add-user {
  padding: 1em;
  color: white;
  font-size: 1em;
  border-radius: 0.3em;
  background-color: rgb(69, 69, 253);
}

.management input {
  padding: 1em;
  font-size: 1em;
  border: 2px solid rgb(218, 216, 216);
  border-radius: 0.3em;
  background-color: rgb(247, 244, 244);
}

main {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 3em auto auto auto;
}

main .user-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

main .user-table thead tr {
  background-color: rgb(86, 86, 255);
  color: #ffffff;
  text-align: left;
}

main .user-table th,
main .user-table td {
  padding: 12px 15px;
}

main .user-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

main .user-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

main .user-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(86, 86, 255);
}

main .user-table tbody tr td button {
  padding: 10px 20px 10px 20px;
  margin: 0 2px 0 2px;
}

main .user-table tbody tr td button:hover {
  background-color: rgb(86, 86, 255);
  cursor: pointer;
  transition: all 0.2s;
}

main .user-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(86, 86, 255);
}

.menu-add {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 0.3em;
  background-color: white;
}

.menu-add .menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  color: white;
  font-size: 1.5em;
  background-color: rgb(86, 86, 255);
  border-radius: 0.3em 0.3em 0 0;
}

.menu-add .menu-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-add .menu-inputs input {
  width: 90%;
  padding: 1em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 2px solid rgb(241, 241, 241);
}

.menu-add .menu-inputs label {
  justify-self: flex-start;
  align-self: flex-start;
  margin-left: 32px;
  font-size: 1.2em;
  padding: 10px;
  font-weight: 700;
}

.menu-add .menu-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
}

.menu-add .menu-buttons button {
  min-height: 20px;
  padding: 1em 1.8em 1em 1.8em;
  font-size: 1.1em;
  border-radius: 0.5em;
  margin: 5px 5px 20px 0;
}

.menu-add .menu-buttons button:last-child {
  margin-right: 30px;
}

.menu-add .menu-buttons button:hover {
  background-color: rgb(86, 86, 255);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.is-hidden {
  display: none;
}
